/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */
header {
    background-color: #93d0f4;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
    content: #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: #0079c1;
}

footer {
    background-color: #93d0f4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}