/* Style the main heading */ 
h1 {
    color: #0066ff;
}


/* Style company information */ 
.company-info {
  background-color: #d0afaf;
  padding: 10px;
}


/* Style stock details */ 
.stock-details {
  margin-top: 20px;
}


/* Use descendant combinator to style all paragraphs within stock details */ 
.stock-details p {
  font-style: italic;
}


/* Style specific paragraphs within stock details using the descendant combinator */ 
.stock-details .current-price {
  color: green;
}

/* Style specific paragraphs within stock details using the descendant combinator */ 
.stock-details .price-change p {
  color: red;
}